@charset "utf-8";
*{margin: 0px; padding: 0px;}

.jumbotron { 
	background: #066130;
}


.logo { 
width: 100%;
	height: auto;
}

.header { 
text-align: center;
	color: white;
}


.footer { 
height:50px; 
background: #066130;
}

.social_media { 
text-align: center;
color: white;
}

.topnav {
  background-color: #C6484A;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}