@charset "utf-8";
*{margin: 0px; padding: 0px;}

.jumbotron { 
	background: #066130;
}

.fonts { 
font-family: 'Lato', sans-serif;
}

.logo { 
width: 14%;
	height: 100%;
}

.header { 
text-align: center;
	color: white;
}


.footer { 
background: #066130;
}

.topnav {
  background-color: #C6484A;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.test {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.thumbnail { 
	border: 3px solid grey;
	border-radius: 7px;
	height: 100%;
	width: 100%;
	align-self: auto;
	
}

.products { 
 margin-top: 3px;
}

.description { 
margin-left: 3px;
	margin-right: 3px;
  font-weight: bold;
  font-size: large;
}

.Price { 
margin-left: 3px;
  margin-right: 3px;
  color: grey;
}

.about_image { 
width: 100%;
	float: left;
	margin-top: 10px;
	margin-right: 3px;
	margin-left: 1px;
	border: 2px solid black;}

.fa {
 padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
} 

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.social_media{ 
allign: center;
}

.fact_photo{
width: 100%;
  float: left;
  margin-top: 10px;
  margin-right: 3px;
  margin-left: 1px;
  border: 2px solid black;
}

.dates{
   font-weight: bold;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.responsive {
  width: 25%;
  height: auto;
}



